@import '../../style/colors.css';

.adminContainer {
  padding: 20px;
  background-color: var(--white);
}

.bottomSide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .adminContainer {
    padding: 10px;
    background-color: var(--white);
  }

  .bottomSide {
    gap: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 15px;
  }
  .paginated {
    width: 95%;
    padding: 2%;
    overflow-y: scroll;
    border: 1px solid var(--grey-one);
  }
}
